<export name="seo-link">
    <div class="web-link">

        <div class="web-link-info">
            <h1>当前页面：{{action_title_page_name}}</h1>    
            <a ap-href="home">返回主页</a>
        </div>    

        <div class="nav nav-forbrower web-link-nav">
            <a class="link" href="{{\ar\core\url('home')}}">成致上上策产品主页</a>
            <a class="link" href="{{\ar\core\url('price')}}">成致上上策价格</a>
            <a class="link" href="{{\ar\core\url('readhelp')}}">成致上上策帮助</a>
            <a class="link" href="{{\ar\core\url('download')}}">成致上上策下载</a>
            <a class="link" href="{{\ar\core\url('shares')}}">成致上上策股票</a>
        </div>

        <div class="product-info">
          <h2>成致上上策说明</h2>
          <p>
            基于大数据分析系统，提供高效精准的回测模型，回测预期和实测效果良好。
          </p>
        </div>

        <div class="product-info">
          <h2>成致上上策大数据AI预警</h2>
          <p>
            0-8级别交易预警提示
        </div>

        <div class="product-info">
          <h2>成致上上策自主研发的交易能级指标</h2>
          <p>
            基于人类心理学的恐慌理论的恐慌能级指标，比RSI,KDJ更加直观。数据视图一目了然。
          </p>
        </div>

        <div class="product-info">
          <h2>成致上上策多品种数据分析</h2>
          <p>
            可以根据股票，外汇，期货合约等数据自动实现模型建立和数据报告分析。
          </p>
        </div>


    </div>

</export>

<export name="head-met-info">
   <link href="{{C.PATH.PUBLIC}}images/logo-2.ico" rel="shortcut icon">
   <link rel="stylesheet" type="text/css" href="{{C.PATH.PUBLIC}}css/public.css">

   <title>大数据策略分析系统 - {{action_title_page_name}} - 成致上上策</title>
   <meta name="keywords" content="大数据分析报告_如何运用大数据策略分析系统进行量化投资_成致上上策"/>
   <meta name="description" content="成致上上策是一款为量化投资者提供交易行情数据信息服务的交易数据分析工具"/>
</export>
